<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
<link rel="shortcut icon" href="https://cdn.icon-icons.com/icons2/67/PNG/512/shoppingcartfull_compras_carr_13340.png">    <title>ECSDIshop | Devolucion de productos</title>
</head>
<body>
    <h1>Devolucion de productos</h1>
    <a href="/">< Volver</a>
    {% if compras %}
    <form method="post" style="padding-top: 15px">
        <table cellpadding="5px", border="2">
            <tr>
                <th><b>NºCOMPRA</b></th>
                <th><b>PRODUCTOS</b></th>
                {% for _ in range(count-1) %}
                    <th></th>
                {% endfor %}
                <th><b>PRECIO TOTAL</b></th>
                <th></th>
            </tr>
            {% for item in compras %}
                <tr>
                    <td><b>{{ compras.index(item) + 1 }}.</b></td>
                    {% for item2 in item[1] %}
                        <td>{{ item2 }}</td>
                    {% endfor %}
                    {% for _ in range(count - sizes[compras.index(item)]) %}
                        <td></td>
                    {% endfor %}
                    <td>{{ item[2] }}</td>
                    <td><input type="checkbox" name="checkbox" value="{{ compras.index(item) }}"></td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" name="submit" value="Devolver">
    </form>
    {% endif %}
</body>
</html>