<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://cdn.icon-icons.com/icons2/67/PNG/512/shoppingcartfull_compras_carr_13340.png">
    <title>ECSDIshop | User Personal Menu</title>
</head>
<body>
    <h1><b>PLANIFICADOR DE VIAJES</b></h1>
    <h2>Usuario</h2>
    <img src="images/user.png" height="60px" width="50px">
    <h5>Seleciona:</h5>
    <br>
    <table cellpadding="5px">
        <tr>
            <td><b>1.</b></td>
            <td><a href="./planificar.html">Planifica tu viaje</a></td>
        </tr>
        <tr>
            <td><b>2.</b></td>
            <td><a href="./devolucion">Recomendar</a></td>
        </tr>
        <tr>
            <td><b>3.</b></td>
            <td><a href="./valorados.html">Valora tus viaje</a></td>
        </tr>
    </table>
</body>
</html>