<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    <style>
        label {
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container py-5 w-75">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Planifica tu Viaje!</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="form-group">
                    <label>Email:</label>
                    <input class="form-control" type="email" name="correo" placeholder="example@domain.com"/>
                    <div class="form-row">
                        <div class="col">
                            <label>Ciudad de destino:</label>
                            <input class="form-control" type="text" name="ciudad_destino"/>
                        </div>
                        <div class="col">
                            <label >Ciudad de origen:</label>
                            <input class="form-control" type="text" name="ciudad_origen"/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <label>From:</label>
                            <input type="date" name="beginning" class="form-control"/>
                        </div>
                        <div class="col">
                            <label>To:</label>
                            <input type="date" name="end"class="form-control" />
                        </div>
                    </div>
                    <label>Precio máximo (€):</label>
                    <input class="form-control" type="number" name="precio_max" value="1000"/>
                    <label>Precio mínimo (€):</label>
                    <input class="form-control" type="number" name="precio_min" value="0"/>
                    <label>Temática:</label>
                    <select class="form-control" name="tematica">
                            <option value="ludico">Lúdico</option>
                            <option value="cultural">Cultural</option>
                            <option value="festivo">Festivo</option>
                    </select>
                    <input type="submit" value="Buscar Viaje!" style="margin-top: 30px" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
