<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://cdn.icon-icons.com/icons2/67/PNG/512/shoppingcartfull_compras_carr_13340.png">
    <title>ECSDIshop | Registro de Producto</title>
</head>
<body>
<h1>Registro de productos</h1>
<a href="/">< Volver</a>
<form method="post">
    <input type="text" name="Nombre" placeholder="Nombre"/><br>
    <input type="text" name="Marca" placeholder="Marca"/><br>
    <input type="text" name="Modelo" placeholder="Modelo"/><br>
    <input type="number" name="Precio" step="0.01" min="0.0" placeholder="Precio"/><br>
    <input type="number" name="Peso" step="0.5" min="0.0" placeholder="Peso"/><br>
    <input type="submit" value="Registrar">
</form>

</body>
</html>