<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
<link rel="shortcut icon" href="https://cdn.icon-icons.com/icons2/67/PNG/512/shoppingcartfull_compras_carr_13340.png">
    <title>ECSDIshop | Valoracion Finalizada</title>
</head>

<body>
    <h1>Valoracion realizada con éxito, muchas gracias</h1>
    <br>
    {% if products %}
    <table cellpadding="5px", border="2">
        <tr>
            <th><b>NOMBRE</b></th>
            <th><b>MARCA</b></th>
            <th><b>MODELO</b></th>
            <th><b>PRECIO</b></th>
            <th><b>PUNTAJE</b></th>
        </tr>
            {% for item in products %}
                <tr>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.marca }}</td>
                    <td>{{ item.modelo }}</td>
                    <td>{{ item.precio }}</td>
                    <td>{{ item.puntuacion }}</td>
                </tr>
            {% endfor %}
    </table>
    {% endif %}
    <a href="./" style="padding-top: 20px">Volver</a>
</body>
</html>