<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://cdn.icon-icons.com/icons2/67/PNG/512/shoppingcartfull_compras_carr_13340.png">
    <title>ECSDIshop | Valoración de productos</title>
</head>
<body>
    <h1>Valorar Productos</h1>
    <br>
    <a href="./">Volver</a>
    <form method="post" style="padding-top: 15px">
    {% if products %}
    <table cellpadding="5px", border="2">
        <tr>
            <th><b>NOMBRE</b></th>
            <th><b>MARCA</b></th>
            <th><b>MODELO</b></th>
            <th><b>PRECIO</b></th>
            <th><b>PUNTAJE</b></th>
        </tr>
            {% for item in products %}
                <tr>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.marca }}</td>
                    <td>{{ item.modelo }}</td>
                    <td>{{ item.precio }}</td>
                    <td><input type="number" name="puntuacion" value="{{ 0 }}" min="0" max="10"></td>
                    <td><input type="checkbox" name="checkbox" value="{{ products.index(item) }}"></td>
                </tr>
            {% endfor %}
    </table>
    <input type="submit" name="submit" value="Valorar">
    {% endif %}
    </form>
    <br>
</body>
</html>