<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://cdn.icon-icons.com/icons2/67/PNG/512/shoppingcartfull_compras_carr_13340.png">
    <title>ECSDIshop | Menu Vendedor Externo</title>
</head>
<body>
    <h1><b>Bienvenido a la tienda de ECSDI</b></h1>
    <h2>Has entrado a la página como Vendedor Externo</h2>
    Aquí tienes las siguientes opciones:
    <br>
    <table cellpadding="5px">
        <tr>
            <td><b>1.</b></td>
            <td><a href="./registrarProducto">Registrar Productos</a></td>
        </tr>
    </table>
</body>
</html>